.Sidebar{
    position: relative;
    transition: all .3s ease;
}
.logo{
    display: flex;
    gap: 3px;
    font-weight: 600;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}
.logo span{
    font-weight: 300;
    color: rgb(12, 134, 174)
}
.nav-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 0 0 0px;

}
.nav-items a , .nav-items div{
    padding: 20px 25px;
}
.icons{
    font-size: 32px;
    color: rgb(229, 221, 221);
}
.nav-items li{
    width: 100%;
    font-size: 22px;
    color: rgb(229, 221, 221);
}
.arrow-icons{
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 0px;
}

.Sidebar.active{
    width: 80px;
    padding: 100px 0px !important;
}

.Sidebar.active .logo{
    display: none;
}

.Sidebar.active (.nav-items div, .nav-items a){
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
}

.Sidebar.active .nav-items div li, .Sidebar.active .nav-items a li{
    display: none;
}

.Sidebar.Sidebar.active .arrow-icon{
    transform: rotate(180deg)
}